<div class="input-message-wrap input-message">
  <div class="input-message-input-wrap">
    <img
      [src]=""
      alt="avatar-icon"
      loading="lazy"
      width="32"
      height="32"
      class="input-message__avatar"
    />
    <div class="input-message-input-inner">
      <input 
        type="text" placeholder="Введите данные" id=""
        class="input-message__input"
      />
      <svg icon="search-icon" width="18" height="18"
        class="input-message__icon"></svg>
    </div>
  </div>
  <div class="input-message-submit-btn-wrap">
    <button type="button"></button>
  </div>
</div>
