@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin btn($pb-size) {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: $pb-size;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  color: var(--color-dark);
  background-color: var(--color-primary);
  border: var(--border-dark);
  border-radius: var(--border-radius-small);

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      box-shadow: 4px 4px 0 0 var(--color-grey-25);
    }
  }
}

@mixin total-count-subscribers($bc) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 18px;

  background-color: $bc;
  color: var(--color-dark);
}

@mixin subtitle {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

@mixin input($height) {
  width: 100%;
  height: $height;
  padding: 12px 20px;

  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border-light);
  border-radius: 5px;
  outline: none;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;

    color: var(--color-light-75);
    opacity: 1;

    letter-spacing: normal;
  }
}
